body
{
	height: 5000px;
	background: #d6d7d5;
}
#mail
{
	width: 500px;
	margin-top: 10px;
	background: white;
}
h1
{
	font-family: Tahoma;
	color: #bdba5a;
}
label:hover
{
	cursor: pointer;
}

label
{
	text-align: justify;
	width: 700px;
	word-spacing: 1px;
	font-size: 18px;
	line-height: 1.8;
	font-family: Tahoma;

}

form
{
	padding: 15px;
	box-shadow: 1px 1px 5px #bdba5a;
	width: 800px;
	background-color:#FAFAFA;
	position: absolute;
	left: 25%;	
	top: 50px;
	height: 1700px;
}
p
{
	position: relative;
	top: -12px;
	left: 28px;
 display: inline-block;
}

textarea
{
	margin-top: 10px;
	width: 500px;
	height: 60px;
	color: black;
	font-size: 19px;
	background: white;
	border-color: #bdba5a;
	resize: none;
}
#d1
{
	margin-top: 100px; 
}
div
{
	
	margin-bottom: 50px;
}
a
{
 color: #bdba5a;
}
#sub:hover
{
	background: #bdba5a;
	opacity: 1;
	transition: 0.5s all;
	color: white;
}

#sub
{
	border: none;
	background: #d6d7d5;
	opacity: 0.7;
	width: 150px;
	height: 55px;
	font-family: Tahoma;
	font-size: 18px;
	border-radius: 100px;
}